<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {% block charset %}<meta charset="utf-8">{% endblock %}
        {% block edge %}<meta http-equiv="X-UA-Compatible" content="IE=edge">{% endblock %}
        {% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock %}
        {% block description %}<meta name="description" content="">{% endblock %}
        {% block keywords %}<meta name="keywords" content="">{% endblock %}
        {% block author %}<meta name="author" content="TOURZE">{% endblock %}
        <title>{% block title %}默认标题{% endblock %}</title>
        {% block stylesheet %}<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" />{% endblock %}
        {% block head_ie %}{% endblock %}
    {% endblock %}
</head>
<body>
<div id="main-wrapper">
    <div id="header">
        {% block header %}{% endblock %}
    </div>

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
            &copy; Copyright 2015 by <a href="http://www.tourze.com/">途者.</a>.
        {% endblock %}
    </div>
</div>

{% block script %}
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>
