#quickpost {
	position: fixed;
	bottom: 10px;
	width: 370px;
	left: 50%;
	margin-left: -185px;
	z-index: 1000;
}
#quickpost .home, #quickpost .user {
	width: 56px;
}
#quickpost .post {
	width: 260px;
}

.topic-item {
	padding: 10px 0 0 0;
}
.topic-item .head, .topic-item .body, .topic-item .link, .topic-item .foot {
	padding-left: 10px;
	padding-right: 10px;
}
.topic-item .avatar {
	display: inline-block;
	float: left;
}
.topic-item .link {
	color: #000;
	display: inline-block;
}
.topic-item .link:hover {
	text-decoration: none;
}
.topic-item .avatar img {
	width: 42px;
	height: 42px;
}
.topic-item .title, .topic-item .meta {
	padding-left: 0px;
}
.topic-item .title {
	margin-top: 0;
	margin-bottom: 3px;
}
.topic-item .body {
	margin-top: 5px;
	margin-bottom: 5px;
}
.topic-item .action {
	margin-bottom: 5px;
}
.topic-item .action .btn-group {
	margin-right: 5px;
}
.topic-item .foot {
	padding-bottom: 7px;
	background: #fefefe;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.topic-item .foot ul {
	margin-bottom: 0;
}


/**
 * 匹配480px
 */
@media screen and (max-width: 480px) {
	#quickpost {
		bottom: 0;
	}
	#footer {
		margin-bottom: 36px;
	}
}

