/*
 * 打印时的样式
 */
@media print {
	.hidden-print {
		display: none;
	}
}

/**
 * 768-979px的分辨率
 */
@media (max-width: 979px) and (min-width: 768px) {
	#footer .container {
		background: none;
		text-align: center;
	}
	#footer .inner  {
		margin: 30px 0 10px 0;
	}
}

/**
 * 这个尺寸是平板和手机的标准尺寸？
 */
@media (max-width: 979px) {
	#footer .container {
		background: none;
		text-align: center;
	}
	#footer .inner  {
		margin: 30px 0 10px 0;
	}
}

/**
 * 匹配768px
 */
@media screen and (max-width: 768px) {
	#footer {
		background: none;
		text-align: center;
	}
	#footer #bdshare {
		display: none;
	}
}

/**
 * 匹配480px
 */
@media screen and (max-width: 480px) {
	body {
		padding-left: 10px;
		padding-right: 10px;
	}
	#footer {
		background: none;
		text-align: center;
	}
	.hidden-480 {
		display: none;
	}
}

@media (max-width: 320px) {
	body {
		padding-left: 3px;
		padding-right: 3px;
	}
	/***
	Hidden phone
	***/
	.hidden-320 {
		display: none;
	}
}


