* { font-family: "Century Gothic","Microsoft yahei","微软雅黑"; }

table caption {
	line-height: 48px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.form-horizontal .control-label {
	font-weight: bold;
}

#content {
	margin-top: 60px;
	margin-bottom: 30px;
}

#footer {
	background: #f3f3f3;
	padding: 30px 0;
}


#admin_login_form {
	width:350px;
	margin:100px auto;
	display:block;
	float:none;
	padding: 20px;
	border: 1px solid #ddd;
	box-shadow: 3px 1px 1px #eee;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#admin_login_form  h1 {
	margin: 0;
	border-bottom: 2px solid #ddd;
	padding-bottom: 15px;
}
#admin_login_form label {
	width: 80px;
	display: inline-block;
	text-align: right;
	padding-right: 10px;
}
#admin_login_form input {
	padding: 3px 2px;
	width: 240px;
	border: 1px solid #ccc;
}
#admin_login_form button {
	width: 100%;
	background: #04477c;
	padding: 10px;
	text-align: center;
	font-size: 24px;
	border: none;
	color: #fff;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


		#pagetree-loading {
			width: 500px;
			margin: 0 auto;
			padding: 70px 0;
		}
		/*  Page tree - this is the tree that lists pages and has the options for editing them */



#pagetree {
	background: #F4F4F4;
	padding: 15px;
	margin:0 10px;
}

	#pagetree > li {
		padding: 10px !important;
	}
	#pagetree ul {
		background: transparent !important;
	}
	#pagetree li small.url {
		padding-left: 5px;
		color: #999;
	}
	#pagetree .single, #pagetree .expandable {
		font-weight: bold;
	}
	/* make is so the parent element "Home" can't be collapsed, doesn't have the tickbox, doesn't have the padding */
	#pagetree>li {
		padding-left:0;
		background:none;
	}
	#pagetree > li > .hitarea {
		display: none;
	}
	.treeview .hitarea {
		background-position: -64px -23px !important;
	}
	.treeview .expandable-hitarea {
		background-position: -80px -1px !important;
	}
	#pagetree .actions {
		float: right;
		display: none;
	}
	#pagetree .actions a {
		margin-left: 10px;
	}
	#pagetree li:hover > .actions {
		display: block;
	}
	#pagetree li:hover > span {
		color: red;
	}

ul.standardlist {
	list-style-type:none;
	margin:0;
	padding:0;
	margin-top:-10px;
}

	ul.standardlist li {
		background:white;
		clear:left;
		padding:0;margin:0;
	}
	
	ul.standardlist p {
		font-weight:bold;
	}
	
	ul.standardlist a {
		cursor:pointer;
		text-decoration:none;
		padding:0;
		margin:0;
	}
		ul.standardlist li.z {
			background:#efefef;
		}
		
		ul.standardlist li:hover {
			background:#CCFF99;
		}
	
	ul.standardlist li div.actions {
		float:right;
		display:none;
		padding:0; margin:0;
		padding-right:5px;
	}
	
		ul.standardlist li:hover div.actions {
			display:block;
		}
		
		ul.standardlist div.actions a {
			text-decoration:none;
			font-size:70%;
			text-align:center;
			line-height:8px;
			float:left;
			color:#003300;
			padding:2px 3px;
		}
		ul.standardlist div.actions a div {
			margin:0 auto 1px;
		}
		ul.standardlist div.actions a:hover span {
			color:#009900;
			text-decoration:underline;
		}
		
	
	ul.standardlist li p {
		margin:0;
		padding:8px;
		color:black;
		margin:0;
		min-height:16px;
	}

.editable-table .template {
	display: none;
}



